/* * --------------------------------------------------  */
:root {
    --purple-c: #7c5af6;
    --light-purple-c: #9475f4;
    --silver-c: #bebebe;
    --light-c: #f0f0f0;
}
a {
    text-decoration: none;
}

/* LOGIN --------------------------------------------------  */
.login-page {
    margin-top: 100px;
}

/* NAVBAR--------------------------------------------------  */
.navbar {
    height: 65px;
}
.navbar-brand {
    color: var(--purple-c);
}
.nav-link {
    color: var(--silver-c);
}
.navbar-nav .nav-item .nav-link.active {
    color: var(--purple-c);
}

/* CARD --------------------------------------------------  */
#add-worklog {
    /* background: var(--light-purple-c); */
}
#add-worklog:hover {
    background-color: var(--light-purple-c);
}
.card {
    background-color: var(--light-c);
}
.card-log:hover {
    background-color: var(--light-purple-c);
}
.card-log:hover .card-city {
    color: var(--light-c);
}
#addWorklogLabel {
    color: var(--purple-c);
}
.card-city {
    color: var(--purple-c);
}
#total-work {
    color: var(--purple-c);
}

/* MODAL --------------------------------------------------  */
.btn-add {
    background-color: var(--purple-c);
}
.btn-add:hover {
    background-color: var(--light-purple-c);
}

/* CARD Dashboard --------------------------------------------------  */
#title-card-dashboard {
    color: var(--purple-c);
}
.card .separator {
    display: inline-block;
    transform: translateY(8px);
}
.card .number {
    display: inline-block;
    transform: translateY(16px);
}
